/*
COLORS
*/

$color-primary:  #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark1: #333;
$color-grey-dark2: #777;
$color-grey-dark3: #999;

$color-white: white;

$defult-margin-right: 2rem;

$defult-font-size: 1.4rem;

// Breakpoints
$breakpoint-phone: 37.5em; // 600px
$breakpoint-tab-port: 56.25em; // 900px
$breakpoint-tab-land: 75em; // 1200px
$breakpoint-big-desk: 112.5em; //1800px